<nav class="bg-gray-700 shadow-lg">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between py-4">
      <div class="flex items-center">
        <a href="#" class="text-white text-2xl font-semibold"
          >Kebabs & Kurries</a
        >
      </div>
      <div class="space-x-4">
        <a href="/menu-page" class="text-white hover:text-green-800">Menu</a>
        <a href="/cart-page" class="text-white hover:text-green-800">Cart</a>
        <a href="/payment-page" class="text-white hover:text-green-800"
          >Payment</a
        >
      </div>
    </div>
  </div>
</nav>
